
@{
    ViewData["Title"] = "SignUp";
}
@model UserCreateViewModel

<h1>SignUp</h1>

<h2>@ViewBag.message</h2>

<form asp-controller="Account" asp-action="SignUp" method="POST">
  
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">User Name</label>
        <input asp-for="UserName" class="form-control"/>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input asp-for="Password" value="Password12*" type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">Üye Ol</button>

</form>
